services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: sikmatek
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 5

  migrate:
    image: migrate/migrate
    volumes:
      - ./migrations:/migrations
    command: -path=/migrations/ -database "mysql://root:secret@tcp(db:3306)/sikmatek" up
    depends_on:
      db:
        condition: service_healthy

  app:
    build: .
    environment:
      PORT: 3000
      DSN: root:secret@tcp(db:3306)/sikmatek?parseTime=true
      VITE_MODE: production
    ports:
      - "3000:3000"
    depends_on:
      migrate:
        condition: service_completed_successfully
